<h1>Find Anagrams!</h1>

<% if @user_word %>
  <% if @anagrams == "" %>
      <p>Sorry no anagrams for '<%= @user_word %>', try another word.</p>
  <% else %>
      <p>Estos son anagramas para '<%= @user_word %>':</p>
      <p><%= @anagrams%></p>
  <% end %>
<% end %>


