<h1>Create Survey</h1>


<form method="POST" action="/new/survey">
  <input type="text" id="last_input" placeholder="SurveyName">
  <ol type="1" id="dynamicInput">
  </ol>

    <input id ="start" type="button" name="start" value="Start">
</form>