<h1>Create Survey</h1>


<form method="POST" action="/new/survey">
  <input type="text" name="name" placeholder="SurveyName">
  <div id="dynamicInput">
      <br>
  </div>

    <input id ="start" type="button" name="start" value="Start">
</form>