

<form method="post" action='/survey'>
<p>
<span id="addVar">Add Variable</span>
</p>
<p>
<input type="submit" value="Check">
</p>
</form>

<p>
<label for="var2">Variable 2: </label>
<input type="text" name="var2" id="var2"><span class="removeVar">Remove Variable</span>
</p>