<fieldset >
  <legend>Answer #<%= index %></legend>
  <p><%= ans.text %></p>
  <p>[<%= ans.votes.length %> votes]</p>
    <form action="/vote/answer/<%= ans.id %>" method="post">
      <input type="submit" value="UpVote">
    </form>
</fieldset>



