
  <h1>Profile</h1>

  <h2>Hi, <%=@user.name%>!</h2>
  <h4>Email: <%=@user.email%></h4>

 <fieldset >
  <legend>Edit your information</legend>
  <form action="/edit/users/<%=@user.id%>" method="post">
    <p>You must enter your current password to change any information:</p>
    <input type="password" placeholder="current password" name="pass1">
    <br>
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="new password" name="pass2">
    <input type="submit" value="Edit">
  </form>
</fieldset>

<fieldset class="input">
  <legend>Create a new question</legend>
  <form action='/question' method="post">
    <textarea type="text" placeholder="question" name="text"></textarea>
    <input type="submit" value="Create">
  </form>
</fieldset> 

<fieldset class="input">
  <legend>Search for a question</legend>
  <form action='/question/search' method="post">
    <input type="text" placeholder="question number" name="id">
    <input type="submit" value="Search">
  </form>
</fieldset> 

