
<h1>Your Answers</h1>

<% current_user.answers.each_with_index do |ans, index|%>
  <p>[Question: <%= @questions.find(ans.question_id).text %>]</p>
   <div id="answer">
    <%= erb :_answer, locals: {ans: ans, index: (index + 1)}, layout: false %>
  </div>
<% end %>

