<h1><span>@<%= CLIENT.user.screen_name %></span></h1>
  <ul>
    <% CLIENT.user_timeline.each do |tweet| %>
      <li>
        <span><%= tweet.created_at.to_s.slice(0,10) %>_</span>
        <%= tweet.text %>
      </li>
    <% end %>
  </ul>


  <form method='post' action='/tweet'>
    <input type="text" name="text" placeholder="Enter a new tweet">
    <input type="submit" name="tweet" value="Tweet">
  </form>

  <form method='post' action='/fetch'>
    <input type="text" name="username" placeholder="Enter a twitter username">
    <input type="submit" name="search" value="See tweets">
  </form>