
<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="true" data-auto-logout-link="true"></div>



<div id="fb-root"></div>
<p id="msg"></p>


<div class="logged_out">
  <form action='/auth/facebook' method='post'>
    <input type="submit" value="Login to Facebook" name="login">
  </form>
</div>

  <form action='/logout' method='get'>
    <input type="submit" value="Logout" name="logout">
  </form>

