<% if !logged_in? %>
  <form action='/sign_in' method='get' class="start">
    <input type='submit' name='start' value='Sign in with Twitter'>
  </form>
<% else %>
  <p class="start">@<%= current_user.name %>, welcome back!</p>
<% end %>