<% if !@user %>
  <h3 class="msg"><span> <%= current_user.name %>, welcome!</span></h3>
<% else %>
  <ul>
    <% @user.tweets.order(post_date: :desc).each do |tweet|%>
    <fieldset>
        <legend><span><%= tweet.post_date.to_s.slice(0,16) %></span></legend>
      <li>
        <%= tweet.created_at.to_s.slice(0,16) %>  <%=  tweet.text %>
      </li>
    </fieldset>
    <br>
    <% end %>
  </ul>
<% end %>

<!--     <ul>
      Friends: 
      <%# twitter_user.friends.each do |friend| %>
        <li><span><%#= friend.screen_name %></span></li>
      <%# end %>
    </ul> -->
<!--  -->
<!-- <p><span>Num Tweets: <%#= twitter_user.tweet_count %></span></p>
<p><span>Following: <%#= twitter_user.following.first.screen_name %></span></p>
<p><span>Followers: <%#= twitter_user.followers %></span></p>
<p><span>Status: <%#= twitter_user.status %></span></p> -->
