

<h1 id="main-title">¡RAYUELA!</h1>

<fieldset>
  <legend>Porfavor ingrese los nombres de los dos jugadores</legend>
  <form action="/play" method="get">
    <input type="text" placeholder="jugador:1" name="nombre1">
    <input type="text" placeholder="jugador:2" name="nombre2">
    <input type="submit" value="Ir al juego!">
  </form>
</fieldset>