<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>

<h3>Estas en stats!</h3>

<div id="link">
<a href="http://localhost:9393/stats">http://localhost:9393/stats</a>
</div>