 <h1><%=@user.name%></h1>
<h4>Email: <%=@user.email%></h4>


 <fieldset>
  <legend>Edit your information</legend>
  <form  id="edit" action="/edit/users/<%=@user.id%>" method="post">
    <p>You must enter your current password to change any information:</p>
    <input type="password" placeholder="current password" name="pass1">
    <br>
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="email" name="email">
    <input type="text" placeholder="new password" name="pass2">
    <input type="submit" value="Edit">
  </form>
</fieldset>



<!--   <div>
    <%= erb :_photos, local:{albums: @albums}, layout: false %>
  </div> -->