
<h1>Hi, <%=@user.name%>!</h1>

<p>Aren't you glad you have a personal profile on this website </p>
  <form action="/post/new" method="get">
    <input type="submit" value="New Game">
  </form>
  <form action="/post/new" method="get">
    <input type="submit" value="See Stats">
  </form>
<br>
<br>
<br>
<br>
<fieldset>
  <legend>Sign out</legend>
  <form action="/sign_out" method="post">
    <input type="submit" value="Exit this account.">
  </form>
</fieldset>