  <h1>Anonymous Blog</h1>

<% if @error %>
  <p style="color: red">
    <a>Oops!</a>
    <br>
    <%@error.each do |key, val|%>
      <a>Your <%=key%> <%=val.join(" ")%>.</a>
    <%end%>
  </p>
<% end %>

  <form action="/posts" method="post">
     <input type="text" placeholder="title" name="title">
      <input type="text" placeholder="post" name="body">
      <input type="text" placeholder="hashtags" name="tag">
      <input type="submit" value="Create">
  </form>