<h1>Anonymous Blog</h1>
<br>
  <div>
    <br>
    <fieldset>
      <legend id="title"><%=@post.title%></legend>
      <a id="body"><%=@post.body%></a>
      <br>
      <%@post.tags.each do |tag| %>
        <a id="hash">#<%=tag.text%> </a>
      <% end %>
    </fieldset>
    <br>
    <legend>Enter your new information below:</legend>
    <form action="/post/edit" method="post">
        <input type="text" placeholder="title" name="title">
        <input type="text" placeholder="post" name="body">
        <input type="text" placeholder="hashtag1" name="tag1">
        <input type="text" placeholder="hashtag2" name="tag2">
        <input type="hidden" name="post_id" value="<%=@post.id%>">
      <input type="submit" value="Edit">
    </form>
    <br>
  </div>


