<h1>Anonymous Blog</h1>
<br>
<fieldset>
  <legend>Checkout these posts or make your own!</legend>
  <br>
  <form action="/posts" method="get">
      <input type="submit" value="See Posts">
  </form>
  <form action="/post/new" method="get">
      <input type="submit" value="New Post">
  </form>
  <br>
  <br>
</fieldset>

  
