  <h1>Anonymous Blog</h1>


  <form action="/posts" method="post">
     <input type="text" placeholder="title" name="title">
      <input type="text" placeholder="post" name="body">
      <input type="text" placeholder="hashtag1" name="tag1">
      <input type="text" placeholder="hashtag2" name="tag2">
      <input type="submit" value="Create">
  </form>