<h1>Quiz-Yourself</h1>
<h1>Hi, <%=@user.name%>!</h1>

<p>Welcome to Quiz-Yourself. Let's play!</p>
  <form action='/setup' method="get">
    <input type="submit" value="New Game">
  </form>
  <form action="/stats" method="get">
    <input type="submit" value="See Stats">
  </form>
<br>
<br>
<br>
<br>
<fieldset>
  <legend>Sign out</legend>
  <form action="/sign_out" method="post">
    <input type="submit" value="Exit this account.">
  </form>
</fieldset>