.container {
  margin: 20px auto;
  width: 600px;
  padding: 40px 20px 20px 20px;
}
th {
  text-align: left;
}

#nav_bar {
  background: black;
  height: 50px;
  text-align: center;
  /*margin: 0 auto;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.profile_nav {
  margin-top: 10px;
  display: inline-block;
}

input[type=submit]{
  color: black;
  background: linear-gradient(#ADD8E6, white);
  border: none;
  border-radius: 7px 7px 7px 7px;
}

#error {
  color: red;
}

.hidden {
  display: none;
}

.carrousel {
  overflow: hidden;
  width: 100%;
}

.frames {
  margin: auto;
  position: relative;
  /*list-style: none;*/
  padding: 0px;
  margin: 0px;
}

.frames li {
  /*list-style-type: none;*/
  float: left;
  display: inline-block;
}


.slider_controls p{
/*  position: absolute;
  top: 100px;*/
  /*margin-top: 99px;*/
  width: 30px;
  line-height: 30px;
  color: black;
  background: linear-gradient(#ADD8E6, white);
  border-radius: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  /*color: #7F7F7F;*/
  /*background-color: #eee;*/
}

.previous_frame {
  margin-left: -50px;
}

.next_frame {
  margin-left: 620px;
}

#sortable {
  list-style-type: none;
}

#sortable li {
  display: inline-block;
}




